body{
  background-color: rgb(22, 29, 29);
  height: 935px;
  padding: 120px;
}
.board{
  width: 300px;
  height: 300px;
  margin: auto;
  color: white;
}

.btn-square{
  width: 100px;
  height: 100px;
  font-size: 50px;
  
}

.winner {
  transition: all ease-in .3s;
  display: flex;
  opacity: 1;
  font-size: 1.5rem;
  font-weight: 600;
  gap: 1vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20vw;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -70%);
  background-color: rgba(195, 141, 158, 0.863);
  backdrop-filter: 5px;
  padding: .5rem;
  padding-bottom: 1rem;
  border-radius: 10%;
}

.X{
  color: red;
}
.O{
  color: white;
}
